.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 0.2px;
    border-bottom: solid;
    border-bottom-color: lightgrey;
}

.left-section{
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 180px;
    align-items: center;
}
.header-icons-left{
    height: 22px;
}

.middle-section{
    background-color:white;
    display: flex;
    width: 500px;
    align-items: center;

    
}
.search-bar{
    height: 31px;
    width: 300px;
    border: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
}
.header-icons-middle{
    height: 23px;
}
.button-search{
    height: 35px;
    width: 60px;
    margin-left: -1px;
    border: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
}
.button-voice{
    height: 42px;
    width: 42px;
    border-radius: 21px;
    border-color: white;
    border-style: hidden;
    margin-left: 10px;
}
.right-section{
    background-color:white;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icon-right{
    height: 25px;
}
.header-icon-right-channel-picture{
    height: 25px;
    border-radius: 12px;
}